@if (postPreview) {
  <div class="flex flex-wrap gap-2 p-4">
    <a class="text-[#60768a] text-base font-medium leading-normal" href="#">
      Posts
    </a>
    <span class="text-[#60768a] text-base font-medium leading-normal">/</span>
    <span class="text-[#111518] text-base font-medium leading-normal">
      Post Preview
    </span>
  </div>
  <div class="flex flex-wrap justify-between gap-3 p-4">
    <div class="flex min-w-72 flex-col gap-3">
      <p
        class="text-[#111518] tracking-light text-[32px] font-bold leading-tight"
      >
        Post Preview
      </p>
      <p class="text-[#60768a] text-sm font-normal leading-normal">
        View and manage your scheduled post
      </p>
    </div>
  </div>
  <div class="pb-3">
    <div class="flex border-b border-[#dbe1e6] px-4 gap-8">
      @for (platform of postPreview.platforms; track $index) {
        <button
          class="flex flex-col items-center justify-center border-b-[3px] pb-[13px] pt-4 cursor-pointer"
          [ngClass]="{
            'border-b-[#111518] text-[#111518]': isActive(platform),
            'border-b-transparent text-[#60768a]': !isActive(platform),
          }"
          (click)="switchTab(platform)"
        >
          <p
            class="text-sm font-bold leading-normal tracking-[0.015em]"
            [ngClass]="{
              'text-[#111518]': isActive(platform),
              'text-[#60768a]': !isActive(platform),
            }"
          >
            {{ platform }}
          </p>
        </button>
      }
    </div>
  </div>
  <h3
    class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4"
  >
    LinkedIn Preview
  </h3>
  <div class="flex p-4 @container">
    <div
      class="flex w-full flex-col gap-4 @[520px]:flex-row @[520px]:justify-between @[520px]:items-center"
    >
      <div class="flex gap-4">
        <div
          class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBW_Mcj2A9t7IdsA035SAwNxryJ1Rilbf5S06roXRgh6mFvRN19-bkBPY4At5ocRZ8GsvfPe2T31WtCncV8KoVKkEqRjp2aTcIA0qHBsgr7qFmpfN7wgHCnr2bxEOpw34BxCxJspzFEXx2OwlL-R0rFNA3DOUg8KsLQl-s-vN0tn7NOl6PRJqQMaHwk5jQT-78AGMRJUZOFpVhmRlkd7toRk6HBP_JQDE_xjPhOGQstbL2aJbl9txQUpik51LGizDl70xVv6rkMsjL9');
          "
        ></div>
        <div class="flex flex-col justify-center">
          <p
            class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em]"
          >
            Sophia Bennett
          </p>
          <p class="text-[#60768a] text-base font-normal leading-normal">
            Marketing Manager at Innovate Solutions
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-[#111518] text-base font-normal leading-normal pb-3 pt-1 px-4">
    {{ content }}
  </p>
  <div class="flex w-full grow bg-white @container p-4">
    <div
      class="w-full gap-1 overflow-hidden bg-white @[480px]:gap-2 aspect-[3/2] rounded-xl flex"
    >
      @for (image of postPreview.images; track image.id) {
        @if (image.selected) {
          <div
            class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none flex-1"
            [style.background-image]="toUrl(image.url)"
          ></div>
        }
      }
    </div>
  </div>
  <p class="text-[#60768a] text-sm font-normal leading-normal pb-3 pt-1 px-4">
    Scheduled for
    {{ postPreview.schedule | date: "MMMM d, y, h:mm a" }}
  </p>
  <div class="flex justify-stretch">
    <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-end">
      <a
        [href]="'/post-form/' + postPreview.id"
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#f0f2f5] text-[#111518] text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span class="truncate">Edit</span>
      </a>
      <a
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#f0f2f5] text-[#111518] text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span class="truncate">Reschedule</span>
      </a>
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#0b80ee] text-white text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span class="truncate">Post Now</span>
      </button>
    </div>
  </div>
}
