<div class="design-root">
  <div class="layout-container">
    <header class="header">
      <div class="header-left">
        <div class="header-logo">
          <svg
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24 45.8096C19.6865 45.8096 15.4698 44.5305 11.8832 42.134C8.29667 39.7376 5.50128 36.3314 3.85056 32.3462C2.19985 28.361 1.76794 23.9758 2.60947 19.7452C3.451 15.5145 5.52816 11.6284 8.57829 8.5783C11.6284 5.52817 15.5145 3.45101 19.7452 2.60948C23.9758 1.76795 28.361 2.19986 32.3462 3.85057C36.3314 5.50129 39.7376 8.29668 42.134 11.8833C44.5305 15.4698 45.8096 19.6865 45.8096 24L24 24L24 45.8096Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <h2 class="header-title">Social Post Agent</h2>
      </div>
      <div class="header-right">
        <div class="header-nav">
          <a href="#">Dashboard</a>
          <a href="#">Posts</a>
          <a href="#">Analytics</a>
          <a href="#">Settings</a>
        </div>
        <div
          class="header-avatar"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDgB9CeNViXJslfeke3OiGJUZoHD8kLW1r-fAjQPJAPL2RjRLdBk5Tl7A0bPGMBqt90D_oU90krw_PtWcQadNszqGZHUYPJKemDh2x2NKdMkL_p075BWY8Pv6sES4P_o5YsJnTW16Ajs9UyPXBA7I8iKczUyKbu74mkm8ae7X05kkZfnSvuXKnQcDwjRk1JLsj7oT41vSPcxUdu8AJOuArqQMLQLgC-zAH401tHbYHcmPM60kiuDu2z_3Y6xQz6vyFa3ihS5J27D5L2');
          "
        ></div>
      </div>
    </header>
    <div class="main-content">
      <div class="content-container">
        <app-generate-post-form></app-generate-post-form>
      </div>
    </div>
  </div>
</div>
