<h3 class="section-header">Image Suggestions</h3>
<div class="image-grid">
  <div class="image-item">
    <div
      class="image-square"
      style="
        background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAfHaSLbeaYqg5NBaqNpXRhTcrPYOGZ3aHt-9eZdhoczIWo00bK_zhCn3qWiG3AWU5ON6LC5IJ-mdCYzznABFaL1m2-rFIbLdsbq59BUsALtH5rj15KLDLbv7JtQ2Jay3MP91vUKuRoor3Fga6oEU_lBKp4QWhfAdKUK_jEFYOLhvQqkHx8gafsjkeDFetGpRRHSTPTTtnUwdfDjB6kwCFdYf5Ky71mhEjy-RZXjMKEUbg5xf6YYvpOEc1KHvoYBrfFyYbMNgon-Ms1');
      "
    >
      <label class="container">
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="image-item">
    <div
      class="image-square"
      style="
        background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBiMs2Cus4jLUcqGFujoPFXx0SIo5VMBPTePvqqcenuRPYhzEI5cFA8tGA9ykbo9YnK4v9p2qV9lN_Y0SqFE8Y0aYQso0i3DsNpSH-x_ffB5lcdrLeWXoQFQn-Ig-zFHJXeqX4C9XTvW0NTUT93_LJzWK5TRLISqTt-LCHqWy9iOo7uVuGUgVBJUlgJHaa0WybZVevZKbDkkHYT_fWZrS-InP3LdgrycNk-pL6B8LWdJA8oSlseupmEZFH3pgHt7ccB-Sbh3gu1SuEH');
      "
    >
      <label class="container">
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="image-item">
    <div
      class="image-square"
      style="
        background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC8zS_mHShx6-KFTxg66FRg2UpF_LSWtircuH7BmfO_ltnkO2VimScli8689fGSRFgInWZP6ogTsIWMMoIprCWvOKKKvIhqA8MQjLrmuitYJfQc2V43ETaWx8hGNUMgoW3MN3RUZaGzV0KtY5Vw9avAGLEynQtLDnPo0rDkekQsLniI1Lt-2wUmtOdlHBt2uAhN-V5KM4aPx_GQ6-csD_rDTNbDMBUR5KFzyhG7WnJpaWy9cjNeSIZML4sHDPNtjbQOsnLneQzky3UO');
      "
    >
      <label class="container">
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
<div class="button-container-right">
  <button class="button button-secondary">
    <span class="button-text">Upload Custom Image</span>
  </button>
</div>
<div class="button-container-stretch">
  <div class="button-group">
    <button class="button button-secondary" (click)="backToGeneratedPostPage()">
      <span class="button-text">Back</span>
    </button>
    <button class="button button-secondary" (click)="savePost()">
      <span class="button-text">Save</span>
    </button>
    <button class="button button-primary" (click)="proceed()">
      <span class="button-text">Proceed</span>
    </button>
  </div>
</div>
